.u-section-1 .u-sheet-1 {
  min-height: 98px;
}

.u-section-1 .u-list-1 {
  margin: 0 -33px 0 33px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 33px 31px 0 1003px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -33px 189px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -33px auto 0 174px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -33px auto 0 42px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -33px auto 0 425px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: 834px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 614px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 434px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 406px;
    margin-left: 234px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -155px;
    margin-left: -21px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 142px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -286px;
    margin-bottom: 60px;
    margin-left: 28px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/999.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 354px;
}

.u-section-3 .u-text-1 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 84px 0 18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-bottom: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 810px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 29px 0 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 386px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 50px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 230px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 814px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 43px 0 0;
}

.u-section-5 .u-image-1 {
  width: 855px;
  height: 427px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    width: 680px;
  }

  .u-section-5 .u-image-1 {
    height: 428px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 270px;
  }

  .u-section-5 .u-text-3 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 170px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-6 .u-image-1 {
  width: 671px;
  height: 363px;
  margin: 55px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 42px 0 55px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    width: 680px;
  }

  .u-section-6 .u-image-1 {
    height: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 184px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-7 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 39px 0 0;
}

.u-section-7 .u-image-1 {
  width: 550px;
  height: 550px;
  margin: 39px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin: 53px 0 38px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 918px;
}

.u-section-8 .u-text-1 {
  margin: 8px auto 0;
}

.u-section-8 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 17px 0 0;
}

.u-section-8 .u-image-1 {
  width: 570px;
  height: 386px;
  margin: 35px auto 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.125rem;
  margin: 45px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 230px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 112px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  margin: 26px auto 40px 489px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-btn-1 {
    margin-left: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-btn-1 {
    margin-left: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-btn-1 {
    margin-left: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 479px;
}

.u-section-10 .u-list-1 {
  width: 1062px;
  margin: 0 55px 0 23px;
}

.u-section-10 .u-repeater-1 {
  min-height: 92px;
  grid-template-columns: calc(33.3333% - 153.333px) calc(33.3333% - 153.333px) calc(33.3333% - 153.333px);
  grid-gap: 230px 230px;
}

.u-section-10 .u-container-layout-1 {
  padding: 0;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 20px 10px 0 20px;
}

.u-section-10 .u-container-layout-2 {
  padding: 0;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 2.125rem;
  margin: 32px 10px 0 11px;
}

.u-section-10 .u-container-layout-3 {
  padding: 0;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  font-size: 2.125rem;
  margin: 32px 10px 0 11px;
}

.u-section-10 .u-list-2 {
  width: 1125px;
  margin: -16px auto 0 7px;
}

.u-section-10 .u-repeater-2 {
  min-height: 23px;
  grid-template-columns: calc(33.3333% - 90.6667px) calc(33.3333% - 90.6667px) calc(33.3333% - 90.6667px);
  grid-gap: 136px 136px;
}

.u-section-10 .u-container-layout-4 {
  padding: 10px;
}

.u-section-10 .u-line-1 {
  transform-origin: left center 0px;
  top: 18px;
  position: absolute;
  width: 264px;
  left: 0;
}

.u-section-10 .u-container-layout-5 {
  padding: 10px;
}

.u-section-10 .u-line-2 {
  transform-origin: left center 0px;
  top: 18px;
  position: absolute;
  width: 264px;
  left: 0;
}

.u-section-10 .u-container-layout-6 {
  padding: 10px;
}

.u-section-10 .u-line-3 {
  transform-origin: left center 0px;
  top: 18px;
  position: absolute;
  width: 264px;
  left: 0;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  margin: 34px 25px 0 845px;
}

.u-section-10 .u-icon-1 {
  font-size: 1.9376em;
}

.u-section-10 .u-group-1 {
  width: 413px;
  min-height: 338px;
  height: auto;
  margin: -106px 342px 0 auto;
}

.u-section-10 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px auto 0 0;
}

.u-section-10 .u-icon-2 {
  font-size: 1.8em;
  vertical-align: -5px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 49px auto 0 0;
  padding: 0;
}

.u-section-10 .u-icon-3 {
  font-size: 1.35em;
}

.u-section-10 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 50px auto 0 0;
}

.u-section-10 .u-icon-4 {
  font-size: 1.75em;
}

.u-section-10 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -300px 826px 0 -36px;
}

.u-section-10 .u-text-8 {
  font-weight: 700;
  margin: -116px 0 0 auto;
}

.u-section-10 .u-icon-5 {
  font-size: 2.25em;
}

.u-section-10 .u-text-9 {
  font-weight: 700;
  background-image: none;
  margin: 38px 29px 56px 839px;
}

.u-section-10 .u-icon-6 {
  font-size: 2.125em;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-10 .u-list-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 73px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-right: -11px;
    margin-left: 34px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-right: -11px;
    margin-left: 34px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-right: -11px;
    margin-left: 34px;
  }

  .u-section-10 .u-list-2 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-10 .u-repeater-2 {
    min-height: 18px;
  }

  .u-section-10 .u-line-1 {
    right: 0;
  }

  .u-section-10 .u-line-2 {
    right: 0;
  }

  .u-section-10 .u-line-3 {
    right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-right: 0;
    margin-left: 670px;
  }

  .u-section-10 .u-group-1 {
    height: auto;
  }

  .u-section-10 .u-text-7 {
    margin-right: 726px;
  }

  .u-section-10 .u-text-9 {
    margin-right: 0;
    margin-left: 668px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1060px;
  }

  .u-section-10 .u-list-1 {
    width: 720px;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 454px;
    grid-template-columns: calc(50% - 115px) calc(50% - 115px);
  }

  .u-section-10 .u-text-1 {
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 28px;
    margin-left: 28px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 11px;
    margin-left: 11px;
  }

  .u-section-10 .u-list-2 {
    width: 720px;
  }

  .u-section-10 .u-repeater-2 {
    min-height: 183px;
    grid-template-columns: calc(50% - 68px) calc(50% - 68px);
  }

  .u-section-10 .u-text-4 {
    margin-left: 450px;
  }

  .u-section-10 .u-group-1 {
    margin-right: 307px;
  }

  .u-section-10 .u-text-7 {
    margin-right: 616px;
  }

  .u-section-10 .u-text-9 {
    margin-left: 448px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1352px;
  }

  .u-section-10 .u-list-1 {
    width: 540px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-list-2 {
    width: 540px;
  }

  .u-section-10 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-10 .u-group-1 {
    margin-right: 127px;
  }

  .u-section-10 .u-text-7 {
    margin-right: 526px;
  }

  .u-section-10 .u-text-9 {
    margin-left: 268px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-list-1 {
    width: 340px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-10 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-10 .u-list-2 {
    width: 340px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 70px;
  }

  .u-section-10 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-10 .u-text-7 {
    margin-right: 426px;
  }

  .u-section-10 .u-text-9 {
    margin-left: 68px;
  }
}
